.skillelement {
    display: flex;    
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.skillelement h3 {
    font-family: 'Calibri';
    font-weight: 550;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    cursor: default;
}

@media screen and (max-width: 1250px) {
    .skillelement {
        min-width: 7rem;
        height: 2.9rem;
    }
}

@media screen and (max-width: 1100px) {
    .skillelement {
        min-width: 6.3rem;
        height: 2.8rem;
    }

    .skillelement h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .skillelement {
        min-width: 5rem;
        height: 2.7rem;
    }

    .skillelement h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .skillelement {
        min-width: 4.5rem;
        height: 2.5rem;
    }

    .skillelement h3 {
        font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    .skillelement {
        min-width: 4rem;
        height: 2.3rem;
        margin-right: 0.7rem;
    }

    .skillelement h3 {
        font-size: 11.5px;
    }
}

@media screen and (max-width: 700px) {
    .skillelement {
        min-width: 3.2rem;
        height: 2rem;
    }

    .skillelement h3 {
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    .skillelement {
        min-width: 2.8rem;
        height: 1.6rem;
        margin-right: 0.5rem;
    }

    .skillelement h3 {
        font-size: 8px;
    }
}

@media screen and (max-width: 500px) {
    .skillelement {
        min-width: 3.2rem;
        height: 2rem;
    }

    .skillelement h3 {
        font-size: 9px;
    }
}

@media screen and (max-width: 400px) {
    .skillelement {
        min-width: 2.7rem;
        height: 1.4rem;
        margin-right: 0.4rem;
    }

    .skillelement h3 {
        font-size: 7.5px;
    }
}