* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: unset;
    text-decoration: none;
}

.app a:hover {
    text-decoration: underline;
}

.app__en-header,
.app__bg-header {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background: #0d1b2a;
    padding: 1rem 2rem;
    width: 100vw;
    height: 5rem;
    top: 0;
}

.app__en-header h1,
.app__bg-header h1 {
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    cursor: default;
}

.app__en-header h2,
.app__bg-header h2 {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    margin-left: 4rem;
    cursor: default;
}

.app__en-header_switch,
.app__bg-header_switch {
    display: flex;
    position: absolute;
    right: 3rem;
}

.app__en-header_switch p,
.app__bg-header_switch p,
.app__en-header_switch b,
.app__bg-header_switch b {
    font-family: 'Calibri';
    font-size: 23px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    cursor: default;
}

.app__en-header_switch span,
.app__bg-header_switch span {
    font-family: 'Calibri';
    font-size: 23px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    margin: 0 0.2rem;
    cursor: default;
}

.app__en-header_switchhover:hover,
.app__bg-header_switchhover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app__en-content,
.app__bg-content {
    display: flex;
    flex-direction: row;
}

.app__en-content_sidebar,
.app__bg-content_sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 2rem 2rem;
    background: #1b263b;
    width: 20vw;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    left: 0;
    top: 5rem;
}

.app__en-content_sidebar::-webkit-scrollbar,
.app__bg-content_sidebar::-webkit-scrollbar {
  display: none;
}

.app__en-content_sidebar h2,
.app__bg-content_sidebar h2 {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    margin-bottom: 2rem;
    cursor: default;
}

.app__en-content_sidebar p,
.app__bg-content_sidebar p,
.app__en-content_sidebar a,
.app__bg-content_sidebar a {
    font-family: 'Calibri';
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #e0e1dd;
    margin-bottom: 1rem;
}

.react_icon {
    color: #e0e1dd;
    font-size: 17px;
}

.app__en-content_sidebar_education,
.app__bg-content_sidebar_education {
    display: flex;
    flex-direction: column;
}

.app__en-content_sidebar_language,
.app__bg-content_sidebar_language {
    display: flex;
    flex-direction: column;
}

.app__en-content_sidebar_info,
.app__bg-content_sidebar_info {
    display: flex;
    flex-direction: column;
}

.app__en-content_sidebar_info p,
.app__bg-content_sidebar_info p,
.app__en-content_sidebar_info a,
.app__bg-content_sidebar_info a {
    margin-left: 0.7rem;
}

.info_row {
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
}

.sidebar_line {
    display: flex;
    height: 2px;
    min-height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1.5rem 0;
}

.app__en-content_sp,
.app__bg-content_sp {
    display: flex;
    position: fixed;
    flex-direction: column;
    background: #778da9;
    padding: 2rem 2.9rem;
    width: 80vw;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 5rem;
    left: 20vw;
}

.app__en-content_sp::-webkit-scrollbar,
.app__bg-content_sp::-webkit-scrollbar {
  display: none;
}

.app__en-content_sp_skills,
.app__bg-content_sp_skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.app__en-content_sp_projects,
.app__bg-content_sp_projects {
    display: flex;
    flex-direction: column;
}

.elements_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.app__en-content_sp_skills p,
.app__bg-content_sp_skills p {
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    margin-bottom: 1rem;
    cursor: default;
}

.app__en-content_sp h2,
.app__bg-content_sp h2 {
    font-family: 'Calibri';
    font-weight: 800;
    font-size: 70px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    margin-bottom: 0.5rem;
    cursor: default;
}

.app__en-content_sp_projects_project,
.app__bg-content_sp_projects_project {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.app__en-content_sp_projects_project:last-child,
.app__bg-content_sp_projects_project:last-child {
    margin-bottom: 0;
}

.app__en-content_sp_projects_project h3,
.app__bg-content_sp_projects_project h3 {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    cursor: default;
}

.app__en-content_sp_projects_project h4,
.app__bg-content_sp_projects_project h4 {
    font-family: 'Calibri';
    font-size: 40px;
    line-height: 40%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    cursor: default;
    margin-bottom: 0.7rem;
    margin-left: 0.2rem;
}

.app__en-content_sp_projects_project p,
.app__bg-content_sp_projects_project p {
    font-family: 'Calibri';
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    cursor: default;
    margin-top: 1.5rem;
}

.app__en-content_sp_projects_project p:last-child,
.app__bg-content_sp_projects_project p:last-child {
    margin-bottom: 0;
}

.app__en-content_sp_projects_project span,
.app__bg-content_sp_projects_project span {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    cursor: default;
    margin-right: 0.4rem;
}

.app__en-content_sp_projects_project a,
.app__bg-content_sp_projects_project a {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
}

.app__en-content_sp_projects_project_accounts,
.app__bg-content_sp_projects_project_accounts {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.app__en-content_sp_projects_project_accounts h5,
.app__bg-content_sp_projects_project_accounts h5 {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;
    cursor: default;
}

.app__en-content_sp_projects_project_accounts p,
.app__bg-content_sp_projects_project_accounts p {
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #0d1b2a;    
    cursor: default;
    margin: 0;
}

.app__en-content_sp_projects_project_accounts_account:last-child,
.app__bg-content_sp_projects_project_accounts_account:last-child {
    margin-left: 2rem;
}

@media screen and (max-width: 1450px) {
    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 16px;
    }
}

@media screen and (max-width: 1350px) {
    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 14px;
    }
}

@media screen and (max-width: 1250px) {
    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        width: 25vw;
    }

    .app__en-content_sp,
    .app__bg-content_sp {
        width: 75vw;
        left: 25vw;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .app__en-header h2,
    .app__bg-header h2 {
        display: none;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        width: 30vw;
    }

    .app__en-content_sp,
    .app__bg-content_sp {
        width: 70vw;
        left: 30vw;
        padding: 2rem 2rem;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 16px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 25px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 60px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 50px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 30px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span {
        font-size: 16px;
        margin-right: 0.3rem;
    }

    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 16px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 30px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 13px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 20px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 50px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 40px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span,
    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 14px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .app__en-header_switch,
    .app__bg-header_switch {
        right: 2rem;
    }

    .app__en-content_sidebar h2,
    .app__bg-content_sidebar h2 {
        font-size: 25px;
        margin-bottom: 1rem;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 10.5px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 45px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 35px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 21px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span {
        font-size: 12px;
        margin-right: 0.2rem;
    }

    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .app__en-header h1,
    .app__bg-header h1 {
        font-size: 50px;
    }

    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        padding: 1.2rem 1.2rem;
    }

    .app__en-content_sidebar h2,
    .app__bg-content_sidebar h2 {
        font-size: 20px;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 10px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 38px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 30px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 19px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span,
    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 10px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 18px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 16px;
    }

    .app__en-content_sp_projects_project,
    .app__bg-content_sp_projects_project {
        margin-bottom: 2.5rem;
    }

    .app__en-content_sp_skills,
    .app__bg-content_sp_skills {
        margin-bottom: 2rem;
    }    
}

@media screen and (max-width: 600px) {
    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        padding: 1rem 1rem;
    }

    .app__en-content_sp,
    .app__bg-content_sp {
        padding: 1.5rem 1.5rem;
    }

    .app__en-content_sidebar h2,
    .app__bg-content_sidebar h2 {
        font-size: 19px;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 8.8px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 30px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 18px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span,
    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 8.5px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 17px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 22px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 500px) {
    .app__en-content,
    .app__bg-content {
        flex-direction: column;
    }

    .app__en-header,
    .app__bg-header {
        position: unset;
        height: 4rem;
        padding: 1.3rem 1.3rem;
    }

    .app__en-header h1,
    .app__bg-header h1 {
        font-size: 38px;
    }

    .app__en-header_switch,
    .app__bg-header_switch {
        right: 1rem;
    }

    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        position: unset;
        left: unset;
        top: 10vh;
        height: unset;
        width: 100vw;
        overflow-y: unset;
        padding: 1.3rem 1.3rem;
    }

    .app__en-content_sp,
    .app__bg-content_sp {
        position: unset;
        left: unset;
        top: unset;
        height: unset;
        width: 100vw;
        overflow-y: unset;
        padding: 1.3rem 1.3rem;
    }

    .app__en-content_sidebar h2,
    .app__bg-content_sidebar h2 {
        font-size: 30px;
    }

    .app__en-content_sidebar p,
    .app__bg-content_sidebar p,
    .app__en-content_sidebar a,
    .app__bg-content_sidebar a,
    .react_icon {
        font-size: 15px;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 32px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 30px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 20px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span,
    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 8px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 19px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .app__en-header,
    .app__bg-header {
        padding: 1rem 1rem;
    }

    .app__en-header_switch,
    .app__bg-header_switch {
        right: 0.7rem;
    }

    .app__en-header_switch p,
    .app__bg-header_switch p,
    .app__en-header_switch b,
    .app__bg-header_switch b,
    .app__en-header_switch span,
    .app__bg-header_switch span {
        font-size: 18px;
    }

    .app__en-content_sidebar,
    .app__bg-content_sidebar {
        padding: 1rem 1rem;
    }

    .app__en-content_sp,
    .app__bg-content_sp {
        padding: 1rem 1rem;
    }

    .app__en-content_sp h2,
    .app__bg-content_sp h2 {
        font-size: 28px;
    }

    .app__en-content_sp_projects_project h3,
    .app__bg-content_sp_projects_project h3 {
        font-size: 25px;
    }

    .app__en-content_sp_projects_project h4,
    .app__bg-content_sp_projects_project h4 {
        font-size: 19px;
    }

    .app__en-content_sp_projects_project span,
    .app__bg-content_sp_projects_project span,
    .app__en-content_sp_projects_project a,
    .app__bg-content_sp_projects_project a {
        font-size: 6px;
    }

    .app__en-content_sp_skills p,
    .app__bg-content_sp_skills p,
    .app__en-content_sp_projects_project p,
    .app__bg-content_sp_projects_project p {
        font-size: 18px;
    }

    .app__en-content_sp_projects_project_accounts h5,
    .app__bg-content_sp_projects_project_accounts h5 {
        font-size: 21px;
    }

    .app__en-content_sp_projects_project_accounts p,
    .app__bg-content_sp_projects_project_accounts p {
        font-size: 12.5px;
    }
}